{% extends 'base.html' %}

{% block title %} | Teachers {% endblock %}

{% block content %}
<section id="showcase-inner" class="pt-3 pb-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4 ">Browse Salafi Teachers</h1>
          <p class="mb-4">Browse through current and past students of knowledge or scholars.</p>
          <!-- form -->
          <form action="{% url 'teachers' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Teacher Name)" value="{{ values.keywords }}">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Teacher Type</label>
                <select name="types" class="form-control">
                  <option selected="true" disabled="disabled">Type (All)</option>
                  <option value="Student of Knowledge"
                    {% if 'Student of Knowledge' == values.types %}
                      selected
                    {% endif %}
                  >Student of knowledge</option>
                  <option value="Scholar"
                    {% if 'Scholar' == values.types %}
                      selected
                    {% endif %}
                  >Scholar</option>
                </select>
              </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Country</label>
                  <select name="country" class="form-control">
                    <option selected="true" disabled="disabled">Country (All)</option>
                    {% for country in countries %}
                      <option value="{{country.code}}"
                        {% if country.code == values.country %}
                          selected
                        {% endif %}
                      >{{country.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            <button class="btn btn-secondary btn-block mt-3" type="submit">Search Teachers</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Teachers</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
          <!-- Listing -->
          {% if teachers %}
          {% for teacher in teachers %}
            <div class="col-md-3">
              <em><strong>{{ teacher.name }}</strong></em><br>
              <i class="fas fa-th-large"></i> {{ teacher.type }}<br/><i class="fas fa-map-marker-alt"></i> {{ teacher.country.name }}<br/>
              {% if teacher.twitter %}<i class="fab fa-twitter"></i> <a href="{{teacher.twitter}}">Visit Page</a>{% endif %}
              <hr>
            </div>        
          {% endfor %}
        {% else %}
          <div class="container text-center">
            <p>Sorry, no teacher listings available</p>
          </div>
        {% endif %}
      </div>
     
      <div class="row">
        <div class="col-md-12">
          {% if teachers.has_other_pages %}
            <ul class="pagination ">
              {% if teachers.has_previous %}
                <li class="page-item">
                  <a href="?page={{teachers.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in teachers.paginator.page_range %}
                {% if teachers.number == i%}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if teachers.has_next %}
                <li class="page-item">
                  <a href="?page={{teachers.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}