Django==3.0.6
django-admin-list-filter-dropdown==1.0.3
django-ckeditor==5.9.0
django-countries==6.1.2
django-environ==0.4.5
geoip2==3.0.0 
maxminddb==1.5.4
mccabe==0.6.1
Pillow==7.1.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
python-memcached==1.59
pytz==2020.1
requests==2.23.0
stripe==2.48.0
