<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="float-left">
                    info@salafi.directory
                </div>
            </div>
            <div class="col-6">
                <div class="social float-right">
                    Share:
                    <a href="https://twitter.com/share?url=https://www.salafi.directory">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a href="http://www.facebook.com/sharer/sharer.php?u=https://www.salafi.directory">
                    <i class="fab fa-facebook"></i>
                    </a>
                    <a href="whatsapp://send?text=https://www.salafi.directory" data-action="share/whatsapp/share">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>