{% extends 'base.html' %} 

{% load static %} 

{% block title %} | About us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About us</h1>
        <p class="lead">
          A Salafi only directory website, to know who and where to take
          knowledge from.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About us</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- <h2>Search For The Perfect Home</h2>
        <p class="lead">
          A Salafi only directory website, to know who and where to take
          knowledge from.
        </p> -->
        <img
          src="{% static 'img/logo3.png' %}"
          
          alt="About image"
        />
        <h5 class="mt-4">بسم الله الرحمن الرحيم</h5>
        <p>
          This directory website has started because of those who are new to the Salafi Dawah and wish to know about who take Islamic knowledge from, where to take knowledge from and how they can receive any assistance in their journey to Salafiya. 
        </p>
        <p>Salafi Directory aims to keep you, your family and friends protected from platforms which mislead the people away from the true teachings of Islam.</p>
        <p>If you're ever anywhere new, and want to know the nearest source of salafiya, use our ineteractive maps feature.</p>
        <h5>Features</h5>
        <ol>
          <li>Find listed Salafi classes that are scheduled on a weekly basis.</li>
          <li>Find listed Salafi lectures are scheduled with specific dates and ranges of dates.</li>
          <li>Find listed Salafi teachers with the country of residence.</li>
          <li>Salafi Listings according to time zones.</li>
          <li>Filter through Salafi organisations, lectures, classes and teachers.</li>
          <li>Listed Salafi organisations are set up for you.</li>
          <li>Find a Salafi organisation anywhere in the world</li>
        </ol>

        <p>Direct your family and friends to salafi only sources.</p>
        <p>Learn more about Salafi Islam by Abu Khadeeja <a href="https://www.abukhadeejah.com/what-is-salafism-and-salafiyyah/">Click here</a>.</p>
        <strong>بارك الله فيك</strong>
      </div>
      <div class="col-md-3">
        <!-- Google ads -->
      </div>
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Setup For You</h2>
  <h5>
    Contact us, for access to the admin area or setting up a new organisation.</h5> You will need to confirm who you are and the salafi organisation you are from.
  <hr />
  <a href="mailto:info@salafi.directory" class="btn btn-secondary text-white btn-lg">Contact Salafi Directory</a>
</section>

{% endblock %}
