{% extends 'base.html' %} 

{% load static %} 

{% block title %} | About {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About Salafi Directory</h1>
        <p class="lead">
          A Salafi only directory website, to know who and where to take
          knowledge from.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- <h2>Search For The Perfect Home</h2>
        <p class="lead">
          A Salafi only directory website, to know who and where to take
          knowledge from.
        </p> -->
        <img
          src="{% static 'img/book.jpg' %}"
          style="max-height: 200px"
          alt="About image"
        />
        <p class="mt-4">
          السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ
          <br>
          <br>
          Salafi directory has been created to help direct people to the salafi only sources.
          This has come about to help those new and old to know who and where we can take Islamic knowledge from.
        </p>
        <ol>
            <li>Listed classes are scheduled regularly, on a particular day of the week.</li>
            <li>Listed lectures are scheduled with specific dates.</li>
            <li>Listed teachers listed with country of residence.</li>
            <li>Listings according to time zones.</li>
            <li>Contact organisations if contact form displayed.</li>
            <li>Filter through organisations, lectures, classes and teachers.</li>
            <li>Listed organisations are set up for you.</li>
        </ol>
        <br>
        بارك الله فيك
      </div>
      <div class="col-md-3">
        <!-- Google ads -->
      </div>
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Setup For You</h2>
  <h5>
    Contact us, for access to the admin area or setting up a new organisation.</h5> You will need to confirm who you are and the organisation you are from.
  <hr />
  <a href="mailto:info@salafi.directory" class="btn btn-secondary text-white btn-lg">Contact Salafi Directory</a>
</section>

{% endblock %}
