{% extends 'base.html' %} 

{% load static %} 

{% block title %} | Conditions of use {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Conditions of use</h1>
        <p class="lead">
          This is the conditions of use page for Salafi Directory website and services.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Conditions of use</li>
      </ol>
    </nav>
  </div>
</section>
<section id="coditions" class="pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <ol>
          <li>These conditions exercise the terms of use of the Salafi Directory website.</li>
          <li>Salafi.directory also has information supplied by other organisations, including information about: <br>
            <ul>
              <li>maps, licensed by Google and Here for full UK post codes content. There are limits on what you can use map information for. Please visit http://maps.google.com/help/terms_maps.html and https://legal.here.com/en-gb/terms for more details.</li>
            </ul>
          </li>
          <br>
          <h4>About these conditions</h4>
          
            <ul>
              <li>Incase or including any other websites we may own or run from time to time, will link through to these conditions.</li>
              <li>If you log on to or use any part of this website you agree to these conditions. If you do not want to agree to these conditions, do not log on to or use this website.</li>
              <li>We may change these conditions at any time without giving you notice. Please check these conditions from time to time for any changes. By continuing to use a this website you agree to all the changes we make to these conditions.</li>
            </ul>
          <br>
          <h4>Use</h4>
          <li>Salafi organisations only.</li>
          <li>We may limit your access to all or some parts of the this or may not accept you as a organisation adminstrator (as the case may be), depending on whether you have an exisiting organisation on the website or submitted an email request to set up a new organisation. We may, in our absolute discretion, accept or refuse any registration application.</li>
            <li>Please do not tell other people your log in details, password or any other piece of information that is part of our security procedures. We take steps to prevent people misusing the Yell Websites and to make sure that our rights are not affected. You are responsible for the content of any material provided using your log in details and password. You must notify us immediately if your log in details and/ or password, are used without your permission. We have the right to disable any account if, in our absolute discretion, you have failed to comply with these Conditions, including if your display name is inappropriate in any way.</li>
            <li>
              You acknowledge and agree that:
              <ul>
                <li>you are responsible for your adminstrators account you use and maintaining the confidentiality of your password and you shall take all necessary steps to ensure that your password is kept confidential and secure;</li>
                <li>you shall inform us immediately if you have any reason to believe that your password has become known to anyone else, or if the password is being used or is likely to be used in an unauthorised manner;</li>
                <li>You accept all responsibility for any and all activities that occur at or through your adminstrator account (whether authorised or not); and you shall ensure that all information that you provide to us is and remains at all times true, correct and complete.</li>
              </ul>
            </li>
            <li>We process information about you in line with our Privacy Policy by using this website, you agree to the way in which we process your personal information.</li>
            <br>
            <h4>Our responsibilities</h4>
            <li>Subject to these conditions, we shall endeavour to:
              <ul>
                <li>make this website available</li>
                <li>Send to the email address that you provide when contacting us.</li>
              </ul>
            </li>
            <li>You cannot use this website:
              <ul>
                <li>for any unlawful purpose;</li>
                <li>to harm, threaten, abuse or harass another person, or in a way that invades someone’s privacy or is (in our reasonable opinion) offensive or is unacceptable or damaging to us or any other company within our group of companies;</li>
                <li>to create, check, confirm, update or amend your own or someone else’s databases, records, directories, customer lists, mailing or prospecting lists;</li>
                <li>to provide any kind of commercial information service;</li>
                <li>as a source of material or contact data for any kind of marketing activity;</li>
                <li>in a way that affects how it is run;</li>
                <li>in a way that imposes an unreasonable or disproportionably large burden on our communications and technical systems as determined by us;</li>
                <li>to tamper with, update or change any part of this website;</li>
                <li>use any automated means to monitor or copy this website or it's content, or</li>
                <li>to interfere with or attempt to interfere with how this website works.</li>
              </ul>
              <li>You must not artificially increase the number of click counts or click-throughs for any advertisement or advertiser, including by:
                <ul>
                  <li>any manual means (such as repeatedly clicking on adverts or refreshing pages);</li>
                  <li>any automated means (such as computer-generated search requests or similar devices); or</li>
                  <li>asking someone to carry out these activities (including by offering any benefit or incentive).</li>
                </ul>
              </li>
              <li>We have the right to investigate your online activities or your online account. You agree to provide reasonable help with these matters.</li>
              <li>We may suspend and have the right to modify all or any part of the website, or your access to them, at any time without telling you beforehand. We won’t be responsible to you for any changes we make or for ceasing operation of all or any part of the website. In doing so we will endeavour not to diminish the value of any products or services that we offer to any material degree.</li>
              <li>We may suspend or cancel your use of this website or your adminstrator account with this website or user details relating to this website:
                <ul>
                  <li>you do not keep to these Conditions;</li>
                  <li>you use this website in an inappropriate or unreasonable way;</li>
                  <li>You are found not to be Salafi</li>
                </ul>
              </li>
            </li>
          <br>
          <h4>Material provided to this website</h4>
          <li>If you provide any material to this website (for example, by posting a class, lecture or uploading image content), you agree to grant us permission, irrevocably and free of charge, to use your material on this website or otherwise (including altering and adapting it for operational or editorial reasons) in any media.</li>
          <li>After posting or emailing your material to this website, you continue to own that material, and you continue to have the right to use your material in any way you choose.</li>
          <li>Please choose carefully any information you post on any this website, as it will be available for public viewing. By providing any material to this website, and for us to be able to use it, you confirm you and the material comply with all obligations set out in these conditions, and in particular that:
            <ul>
              <li>your material is your own original work or you are authorised to provide it this website</li>
              <li>your material is not defamatory (that is, it does not damage someone’s good reputation), does not contain any material which is harassing, threatening, obscene, offensive, hateful, abusive or inflammatory</li>
              <li>your material is not defamatory (that is, it does not damage someone’s good reputation), does not contain any material which is harassing, threatening, obscene, offensive, hateful, abusive or inflammatory</li>
              <li>your material does not promote any illegal activity or discrimination;</li>
              <li>that you have the right to give us permission to use it for purposes specified above and that such use will not infringe the copyright, database right, trade mark, privacy or other rights of a third party;</li>
              <li>your material is not in any way liable to mislead others or otherwise be detrimental to or inconsistent with our good name or reputation;</li>
              <li>your material does not contain any virus or other code that may damage, interfere with or otherwise adversely affect the operation of the website;</li>
              <li>if your material is intended to promote your own services, you will clearly and openly state your association with the particular service;</li>
              <li>you will not falsify or delete any author attributions, legal or other proprietary notices, designations or labels; and</li>
            </ul>
            <li>You acknowledge that we do not have a duty to publish any material you have provided.</li>
            <li>We have the right to:
              <ul>
                <li>reject or refuse to post any material you have provided;</li>
                <li>remove any material from this website, whether or not the material goes against any of these conditions; or</li>
                <li>restrict, suspend or stop your access to all or any part of this website, at any time.</li>
              </ul>
            </li>
            <li>We may need to contact you for administrative purposes or to make checks on your material. For full details of when and how we may contact you, please see our Privacy Policy.</li>
            <li>If you do not want to grant us the permission set out above on these terms, please do not provide any material to this website.</li>
            <li>We operate a notice and take down procedure regarding material. If you believe that any material which does not comply with the requirements set out in clause 16 above, please notify us immediately. We will then review the material and, where we deem it appropriate, remove the material within a reasonable time.
            </li>
          </li>
          <br>
          <h4>Disclaimers</h4>
          <li>
            Please be aware of the following:
            <ul>
              <li>You use the website at your own risk.</li>
              <li>We advise you to make sure you are satisfied with the exact type and nature of services being offered by any organisations you search for using the Database. We also recommend that you check the qualifications of people, companies and organisations offering the services. We are not an agent for and do not give guarantees for these organisations or their goods and services;</li>
              <li>You should not rely on the website for advice; (i.e asking us rather than the organisations).</li>
              <li>We cannot guarantee the accuracy of the results of any search made via the query forms.</li>
              <li>This website contains hyperlinks to websites run by companies other than Salafi Directory. We do not control, and are not responsible for, any other websites made available from or through this website. We do not give any guarantees about their content or how they work. You access and use these sites at your own risk and will need to keep to any conditions of use that apply to those sites. We do not approve or sponsor any products, services or content you access or buy through these websites.</li>
            </ul>
            <li>As far as the relevant laws allow, neither we nor any staff or other organisations connected to us give you any guarantees that:
              <ul>
                <li>there will be no problems with how you use this website; or</li>
                <li>the computer or server you use to log on to this website is free of viruses or other harmful programmes.</li>
              </ul>
            </li>
          </li>
          <br>
          <h4>Limits to our libability</h4>
          <li>You acknowledge and agree that computer and telecommunications systems are not uninterrupted or fault free and we do not make any representation or warranty in relation to such systems. You further acknowledge and agree that occasional periods of downtime for repair, maintenance and upgrading may be required and we cannot therefore guarantee uninterrupted provision of this website. We will take all commercially reasonable steps to minimise any such periods of interruption or non-availability.</li>
          <li>You acknowledge and agree that we make no warranty and give no representation of any kind in relation to third party data and we accept no responsibility or liability for inaccuracy in or arising out of third party data.</li>
          <li>Nothing in these Conditions shall limit or exclude liability in respect of death or personal injury caused by negligence, or fraudulent misrepresentation.</li>
          <li>Under no circumstances will Salafi Directory or any other organisation involved in creating, producing, maintaining or distributing this website be liable for any of the following losses or damage (whether such losses or damage were foreseen, foreseeable, known or otherwise):
            <ul>
              <li>loss of revenue</li>
              <li>loss of actual or anticipated profits (including for loss of profits on contracts);</li>
              <li>loss of anticipated savings;</li>
              <li>loss of business;</li>
              <li>loss of opportunity;</li>
              <li>loss of goodwill;</li>
              <li>loss of reputation;</li>
              <li>loss of, damage to or corruption of data or software;</li>
              <li>wasted expenditure; or</li>
              <li>any indirect or consequential loss or damage howsoever caused (including, for the avoidance of doubt, where such loss or damage is of the type specified in Clauses 27, bullet point one to bullet point six).</li>
            </ul>
          </li>
          <li>If we do not keep to these conditions, we will only be liable for losses you have suffered as a direct result. We are not liable to you for any other loss whether they are because we have not kept to our obligations or contract, because of our negligence, due to defamatory statements or liability for a product or service or otherwise as a result of:
            <ul>
              <li>using or relying on this website;</li>
              <li>not being able to use this website;</li>
              <li>any mistake, fault, failure to do something, missing information, or virus on this website or if it does not work properly because of incidents outside of our control such as (but not limited to) interruptions to communication and networks and circumstances beyond our control;</li>
              <li>theft, destruction of information or someone getting access to our records, programs or services without our permission;</li>
              <li>any information, data, message or other material which you e-mail, post, upload, reproduce, send, or otherwise distribute or receive using this website.</li>
            </ul>
          </li>
          <br>
          <h4>Indemnities</h4>
          <li>You will at all times and on demand fully indemnify us and keep us fully indemnified from and against any claims, threatened or made against us arising as a result of your non-compliance with any of your representations, warranties or obligations set out in these Conditions.</li>
          <br>
          <h4>General</h4>
          <li>Failure of either party to assert its rights in relation to any breach of these conditions shall not constitute a waiver of such rights, nor will any such waiver be implied.</li>
          <li>Each provision of these conditions shall be construed separately and shall be severable from these Conditions. If any provision of these conditions (or portion thereof) is invalid, illegal or unenforceable, the validity, legality or enforceability of the remainder of these conditions will not be affected or impaired.</li>
          <li>A person who is not a party to these Conditions shall have no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any of the provisions of these Conditions.</li>
          <br>
          <h4>The Whole Agreement</h4>
          <li>These Conditions constitute the entire agreement between you and us with respect to the subject matter hereof, and supersedes all prior discussions, agreement or understanding between you and us.</li>
          <li>The laws of England and Wales apply to your use of the Yell Websites and these Conditions. We control the Yell Websites from within the United Kingdom. However, you can get access to the Yell Websites from other places around the world. Although these places may have different laws from the laws of England and Wales, by using the Yell Websites you agree that the laws of England and Wales will apply to everything relating to you using a Yell Website and you agree to keep to these laws. We have the right to take you to court in the country you live in.</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}