{% extends 'base.html' %} 

{% load static %} 

{% block title %} | Cookies &amp; caches policy {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Cookies &amp; caches policy</h1>
        <p class="lead">
          This is the cookies and caches policy for Salafi Directory website and services.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Cookies &amp; caches policy</li>
      </ol>
    </nav>
  </div>
</section>

<section id="privacy" class="pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p>We use cookies and caches so that we can provide important features and functionality on our website, provide you with a more personal experience and to display information that matches your interests.</p>
        <h4>What are cookies and caches?</h4>
        <p>Caches stores data so that future requests for that data can be served faster; the data stored in a cache might be the result of an earlier computation or a copy of data stored elsewhere.</p>
        <p>An HTTP cookie is a small piece of data sent from a website and stored on the user's computer by the user's web browser while the user is browsing. Cookies were designed to be a reliable mechanism for websites to remember stateful information or to record the user's browsing activity.</p>
        <h4>What cookies and caches are used on this website?</h4>
        <p>The cookies we and our business partners use on this website are broadly grouped into the following categories:</p>
        <ul>
          <li><strong>Strictly necessary: </strong>These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log in to secure areas of our website, make donations, or to allow communication between your browser and the website.</li>
          <li><strong>Performance: </strong>We use cookies and caches to help us make the website faster by storing data in the users memory for a faster response. These expire and refresh every week.</li>
        </ul>
        <h4>Cookies and caches consent</h4>
        <p>The first time you access a this website, you will be informed about our use of cookies to improve your site experience. By continuing to browse our website you consent to our use of the cookies detailed in this cookie policy.</p>
        <h4>How can I reject or opt out of cookies and caches?</h4>
        <p>If you have previously consented to us storing cookies on your machine but then change your mind, you can do the following:</p>
        <ul>
          <li>Delete the cookies and caches from your browser. Most browsers also allow you to prevent all or some cookies being stored on your machine in the future. For more information on how to delete or disable cookies from your browser please use the “help” function within your browser or alternatively visit allaboutcookies.org; and/or</li>
        </ul>
        <p>Please be aware that disabling cookies may impact the functionality of this website.</p>
        <p>
          If you want to know more about how cookies work and how to manage or delete them, visit the World Wide Web Consortium’s website (or, for third party cookies, visit www.youronlinechoices.com).</p>
          <h4>Changes to this cookies and caches policy</h4>
          <p>We may update this policy from time to time so you may want to check it each time you visit our website. </p>
          <strong>By continuing to use this site without changing your settings you consent to our use of cookies in accordance with our cookie policy.</strong>
      </div>
    </div>
  </div>
</section>
{% endblock %}
