{% extends 'base.html' %}

{% block title %} | السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ {% endblock %}

{% load tz %}

{% block content %}
    <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            أهلا وسهلا بك إلى دليل السلفيين
          </h1>
          <p class="lead">Use the form below to find salafi organisation's near you. Find listings from around the world.</p>
          <div class="search">
            <form action="{% url 'organisations' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Quran, Sahih Bukhari, etc)">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Town/City</label>
                  <input type="text" name="city" class="form-control" placeholder="Town/City">
                </div>

                
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="sr-only">Country</label>
                    <select name="country" class="form-control">
                      <option selected="true" disabled="disabled">Country (All)</option>
                      {% for country in countries %}
                        <option value="{{country.code}}">{{country.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Type</label>
                  <select name="types" class="form-control">
                    <option selected="true" disabled="disabled">Type (All)</option>
                    <option value="Centre">Centre</option>
                    <option value="School">School</option>
                    <option value="Store">Store</option>
                    <option value="Charity">Charity</option>
                    <option value="Pilgrimage">Pilgrimage</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Classes -->
  <section id="listings" class="py-5">
    <div class="container">
      {% if classes %}
      <h3 class="text-center my-3">Latest classes in {{country_name}}</h3>
      <div class="row">
          <!-- Class Listing -->
          {% for singleClass in classes %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img style="width: 70% !important; height: 70% !important; margin: auto;" class="card-img-top mt-4" src="{{ singleClass.photo.url }}" alt="">
                
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">
                        {% if singleClass.is_online %}
                          Online 
                        {% else %}
                          Classroom 
                        {% endif %}
                      </span>
                    </h2>
                  </div>
                
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h5 class="mb-1">
                      {{singleClass.organisation.name}}
                    </h5>
                    {% if singleClass.is_online %}
                      Please, use the link below.
                    {% else %}
                      <p class="text-secondary">
                      <i class="fas fa-map-marker fa-lg"></i> <a href="https://maps.google.com/maps?q={{singleClass.organisation.address}}, {{singleClass.organisation.zipcode}}">{{singleClass.organisation.address}}, {{singleClass.organisation.zipcode}}</a></p>
                    {% endif %}
                  </div>
                  <hr>
                    <strong>{{ singleClass.title }}</strong>
                    <br>
                    <div>{{ singleClass.description }}<div class="blockquote-footer">{{singleClass.sub_Heading}}</div></div>
                  <hr>
                  <div class="row">
                    <div class="col-5 text-center p-0">
                      <i class="far fa-clock"></i> {{singleClass.date_And_Time|timezone:time_zone|date:"g:i A"}}
                    </div>
                    <div class="col-3 text-center p-0 float-right">
                      <i class="fas fa-calendar-alt"></i> {{singleClass.date_And_Time|timezone:time_zone|date:"D"}}
                    </div>
                    <div class="col-4 text-center">
                      <i class="fas fa-pound-sign"></i> 
                      {% if singleClass.price == 0 %}
                        Free
                      {% else %}
                        {{singleClass.price}}
                      {% endif %}
                    </div>
                  </div>
                  <hr>                 
                  <a href="{{ singleClass.link }}" class="btn btn-primary btn-block">
                    {% if singleClass.is_live %}
                      Live
                    {% else %}
                      Recording
                    {% endif %}
                  </a>
      
                </div>
              </div>
            </div>
          {% endfor %}
      </div> <!-- Class listing end -->
      {% else %}
        <h5 class="text-center my-3">Sorry, there are no classes in {{country_name}}.</h5>
      {% endif %}

      {% if lectures %}
      <h3 class="text-center my-4">Latest lectures in {{country_name}}.</h3>
      <div class="row">
        <!-- Listing -->
        
          {% for lecture in lectures %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ lecture.photo.url }}" alt="">
                
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">
                        {% if lecture.is_online %}
                          Online
                        {% else %}
                          Classroom
                        {% endif %}
                      </span>
                    </h2>
                  </div>
                
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ lecture.title }}</h4>
                    {% if lecture.is_online %}
                      Please, use the link below.
                    {% else %}
                      <p class="text-secondary">
                      <i class="fas fa-map-marker fa-lg"></i> <a href="https://maps.google.com/maps?q={{lecture.organisation.address}}, {{lecture.organisation.zipcode}}">{{lecture.organisation.address}}, {{lecture.organisation.zipcode}}</a></p>
                    {% endif %}
                  </div>
                  <hr>
                  <div class="row py-4" >
                    <div class="col-4 text-center">
                      <i class="far fa-clock"></i> {{lecture.time}}
                    </div>
                    <div class="col-4 text-center">
                      <i class="fas fa-calendar-alt"></i> {{lecture.date}}
                    </div>
                    <div class="col-4 text-center">
                      <i class="fas fa-pound-sign"></i> 
                      {% if lecture.price == 0 %}
                        Free
                      {% else %}
                        {{lecture.price}}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="mb-2">{{lecture.description}}</div>
                  <div class="text-center mb-2">
                    {{lecture.organisation.name}}
                  </div>
                  
                  <a href="{{ lecture.link }}" class="btn btn-primary btn-block">
                    {% if lecture.is_online %}
                      Online Class
                    {% else %}
                      Live Recording
                    {% endif %}
                  </a>
      
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      {% else %}
        <h5 class="text-center my-3">Sorry, there are no lectures in {{country_name}}.</h5>
      {% endif %}
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-mosque fa-4x mr-4"></i>
          <hr>
          <h3>Organisations</h3>
          <p>Search organisations from around the world. Search for centres, schools, stores, charity and pilgrimage organisations.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-book-open fa-4x mr-4"></i>
          <hr>
          <h3>Classes</h3>
          <p>Search classes and attend at the centres or listen online. Click on location, to be redirected to google maps.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-chalkboard-teacher fa-4x mr-4"></i>
          <hr>
          <h3>Teachers</h3>
          <p>Stick with the scholars and teachers, from the people of sunnah. Search for their names and country of residence.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}