{% extends 'base.html' %}

{% block content %}
    <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Search Salafi Organisations
          </h1>
          <p class="lead">Use the form below to find salafi organisation's near you. Find listings from around the world for schools, stores, pilgrimage and much more.</p>
          <div class="search">
            <form action="{% url 'organisations' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Quran, Sahih Bukhari, etc)">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Town/City</label>
                  <input type="text" name="city" class="form-control" placeholder="Town/City">
                </div>

                
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="sr-only">Country</label>
                    <select name="country" class="form-control">
                      <option selected="true" disabled="disabled">Country (All)</option>
                      {% for country in countries %}
                        <option value="{{country.code}}">{{country.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Type</label>
                  <select name="types" class="form-control">
                    <option selected="true" disabled="disabled">Type (All)</option>
                    <option value="Centre">Centre</option>
                    <option value="School">School</option>
                    <option value="Store">Store</option>
                    <option value="Charity">Charity</option>
                    <option value="Pilgrimage">Pilgrimage</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Lectures -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Classes in {{country_name}}</h3>
      <div class="row">
          <!-- Listing -->
        {% if classes %}
          {% for singleClass in classes %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ singleClass.photo.url }}" alt="">
                
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">
                        {% if singleClass.is_online %}
                          Online Class
                        {% else %}
                          Classroom Class
                        {% endif %}
                      </span>
                    </h2>
                  </div>
                
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ singleClass.title }}</h4>
                    {% if singleClass.is_online %}
                      Please, use the link below.
                    {% else %}
                      <p class="text-secondary">
                      <i class="fas fa-map-marker fa-lg"></i> <a href="https://maps.google.com/maps?q={{singleClass.organisation.address}}, {{singleClass.organisation.zipcode}}">{{singleClass.organisation.address}}, {{singleClass.organisation.zipcode}}</a></p>
                    {% endif %}
                  </div>
                  <hr>
                  <div class="row py-2">
                    <div class="col-6 text-center">
                      <i class="far fa-clock"></i> {{singleClass.time}}
                    </div>
                    <div class="col-6 text-center">
                      <i class="fas fa-pound-sign"></i> 
                      {% if singleClass.price == 0 %}
                        Free
                      {% else %}
                        {{singleClass.price}}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="text-center mb-2">
                    {{singleClass.organisation.name}}
                  </div>
                  
                  <a href="{{ singleClass.link }}" class="btn btn-primary btn-block">
                    {% if singleClass.is_online %}
                      Online Class
                    {% else %}
                      Live Recording
                    {% endif %}
                  </a>
      
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="bg-primary">
            <p>No Class listings available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-mosque fa-4x mr-4"></i>
          <hr>
          <h3>Organisations</h3>
          <p>Search listed Salafi organisations in the United Kindom and other countries. Search for centres, schools, stores, charity and pilgrimage organisations.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-book-open fa-4x mr-4"></i>
          <hr>
          <h3>Classes</h3>
          <p>Search classes and attend at the centres or listen online. Save classes to your account. Click on location, to be redirected to google maps.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-chalkboard-teacher fa-4x mr-4"></i>
          <hr>
          <h3>Teachers</h3>
          <p>Stick with the scholars and teachers, from the people of sunnah. Search for their names and their country of residence.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}