#header {
    height: 50px;
    background: #10284e;
    color: #ffffff;
}

#branding h1 {
    color: #ffffff;
}

.dashboard #content {
    width: auto !important;
}

div.breadcrumbs,
div.breadcrumbs a:hover {
    color: #000027 !important;
}

div.breadcrumbs {
    background: #3f507a;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #3f507a;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #10284e;
}

.module h2, .module caption, .inline-group h2 {
    background: #3f507a;
}