{% extends 'base.html' %} 

{% block title %} | Donate {% endblock %} 

{% block content %}
  <div class="container py-5">
    <div class="text-center">
      <h1>Support Salafi Directory</h1>
      <p class="lead">All support goes back to improvements and maintenance only.</p>
    </div>
    
    <div class="row">
      <div class="col-6 mx-auto">
        <form action="{% url 'charge' %}" method="post" id="payment-form">{% csrf_token %}
          <div class="form-row">
            <label for="amount">Amount</label>
            <select required class="form-control mb-2" name="amount">
              <option selected value="1">£1 --- Support Salafi Directory</option>
              <option value="5">£5 --- Support site maintanence</option>
              <option value="10">£10 --- Support email services</option>
              <option value="15">£15 --- Support hosting services</option>
            </select>
            <label for="name">Name</label>
            <input required class="form-control mb-2" type="name" name="name" placeholder="Enter name">
            <label for="email">Email</label>
            <input required class="form-control" type="email" name="email" placeholder="Enter email">
          </div>
          <div class="mt-2">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
        
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
        
          <button class="btn btn-primary btn-block mt-3">Submit Donation</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
