{% extends 'base.html' %} 

{% block title %} |  جزاك اللهُ خيراً‎ {% endblock %} 

{% block content %}
  <div class="container text-center py-5">
    <div class="col-6 mx-auto">
      <h4>Thank you for your contribution!</h4>
      <p>Your support helps fulfill maintaining and improving this website.</p>
      <hr>
      <a class="btn btn-secondary" href="{% url 'index' %}">&#x2190;Back to the home page</a>
    </div>
  </div>
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-toolbox fa-4x mr-4"></i>
          <hr>
          <h3>Site Maintanance</h3>
          <p>Regular maintanance for an improved experience on this site at all times.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-at fa-4x mr-4"></i>
          <hr>
          <h3>Email Services</h3>
          <p>Keep in touch with us at info@salafi.directory and receive help whenever you need it.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-server fa-4x mr-4"></i>
          <hr>
          <h3>Hosting Services</h3>
          <p>We use Digital Ocean hosting to keep the site running smooth and fast.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
