{% extends 'base.html' %} 

{% block title %} | {{ organisation.name }} {% endblock %} 

{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ organisation.name }}</h1>
          <p class="lead">
            <i class="fas fa-map-marker fa-lg"></i> {{organisation.address}},
            {{organisation.city}}, {{organisation.zipcode}}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'organisations' %}">Organisations</a>
          </li>
          <li class="breadcrumb-item active">{{ organisation.name }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'organisations' %}" class="btn btn-light mb-4"
        >Back To Organisations</a
      >
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img
            src="{{ organisation.photo_main.url }}"
            alt=""
            class="img-main img-fluid mb-3 h-50"
          />
          <!-- Thumbnails -->
          <div class="row mb-2 thumbs">
            {% if organisation.photo_1 %}
            <div class="col-md-2">
              <a
                href="{{ organisation.photo_1.url }}"
                data-lightbox="home-images"
              >
                <img
                  src="{{ organisation.photo_1.url }}"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </div>
            {% endif %} {% if organisation.photo_2 %}
            <div class="col-md-2">
              <a
                href="{{ organisation.photo_2.url }}"
                data-lightbox="home-images"
              >
                <img
                  src="{{ organisation.photo_2.url }}"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </div>
            {% endif %} {% if organisation.photo_3 %}
            <div class="col-md-2">
              <a
                href="{{ organisation.photo_3.url }}"
                data-lightbox="home-images"
              >
                <img
                  src="{{ organisation.photo_3.url }}"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </div>
            {% endif %} {% if organisation.photo_4 %}
            <div class="col-md-2">
              <a
                href="{{ organisation.photo_4.url }}"
                data-lightbox="home-images"
              >
                <img
                  src="{{ organisation.photo_4.url }}"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </div>
            {% endif %} {% if organisation.photo_5 %}
            <div class="col-md-2">
              <a
                href="{{ organisation.photo_5.url }}"
                data-lightbox="home-images"
              >
                <img
                  src="{{ organisation.photo_5.url }}"
                  alt=""
                  class="img-fluid"
                />
              </a>
            </div>
            {% endif %}
          </div>
          <!-- Fields -->
          <div class="row mb-2 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large text-secondary"></i> Type:
                  <span class="float-right">{{organisation.types}}</span>
                </li>
                {% if organisation.types == 'Centre' %}
                <li class="list-group-item text-secondary">
                  <i class="fas fa-chalkboard-teacher text-secondary"></i>
                  Classes:
                  <span class="float-right"
                    >{{organisation.class_set.count}}</span
                  >
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-quran text-secondary"></i> Lectures:
                  <span class="float-right"
                    >{{organisation.lecture_set.count}}</span
                  >
                </li>
                {% endif %} {% if organisation.phone %}
                <li class="list-group-item text-secondary">
                  <i class="fas fa-phone"></i> Phone:
                  <span class="float-right"
                    ><a href="{{organisation.phone}}"
                      >{{organisation.phone}}</a
                    ></span
                  >
                </li>
                {% endif %} {% if organisation.website %}
                <li class="list-group-item text-secondary">
                  <i class="fas fa-globe"></i> Website:
                  <span class="float-right"
                    ><a href="{{organisation.website}} ">Visit Website </a></span
                  >
                </li>
                {% endif %}
                <!-- <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Listing Date:
                  <span class="float-right">{{organisation.created.date}}</span>
                </li> -->
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                {% if organisation.soundcloud %}
                <li class="list-group-item text-secondary">
                  <i class="fab fa-soundcloud"></i> Soundcloud:
                  <div class="float-right">
                    <a href="{{organisation.soundcloud}}">Listen Here</a>
                  </div>
                </li>
                {% endif %} {% if organisation.mixlr %}
                <li class="list-group-item text-secondary">
                  <i class="fas fa-broadcast-tower"></i> Mixlr:
                  <div class="float-right">
                    <a href="{{organisation.mixlr}}">Listen Here</a>
                  </div>
                </li>
                {% endif %} {% if organisation.telegram %}
                <li class="list-group-item text-secondary">
                  <i class="fab fa-telegram-plane"></i> Telegram:
                  <div class="float-right">
                    <a href="{{organisation.telegram}}">Listen Here</a>
                  </div>
                </li>
                {% endif %} {% if organisation.youtube %}
                <li class="list-group-item text-secondary">
                  <i class="fab fa-youtube"></i> Youtube:
                  <div class="float-right">
                    <a href="{{organisation.youtube}}">Visit Page</a>
                  </div>
                </li>
                {% endif %} {% if organisation.facebook %}
                <li class="list-group-item text-secondary">
                  <i class="fab fa-facebook-f"></i> Facebook:
                  <div class="float-right">
                    <a href="{{organisation.facebook}}">Visit Page</a>
                  </div>
                </li>
                {% endif %} {% if organisation.twitter %}
                <li class="list-group-item text-secondary">
                  <i class="fab fa-twitter"></i> Twitter:
                  <div class="float-right">
                    <a href="{{organisation.twitter}}">Visit Page</a>
                  </div>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
              {{ organisation.description }}
            </div>
          </div>
        </div>
        {% if organisation.administrator %}
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{organisation.types}} Administrator</h5>
              <h6 class="text-secondary">{{organisation.administrator.name}}</h6>
            </div>
          </div>
          <button
            class="btn-primary btn-block btn-lg"
            data-toggle="modal"
            data-target="#inquiryModal"
          >
            Make An Inquiry
          </button>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'organisation' organisation_id=organisation.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="property_name" class="col-form-label">Organisation:</label>
              <input
                type="text"
                name="organisation_name"
                class="form-control"
                value="{{ organisation.name }}"
                disabled
              />
            </div>
            <input type="hidden" name="organisation_email" value="{{ organisation.email }}">
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" required />
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" required />
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control" />
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr />
            <input
              type="submit"
              value="Send"
              class="btn btn-block btn-secondary"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
