{% extends 'base.html' %}

{% block title %} | Organisations {% endblock %}

{% block content %}
<section id="showcase-inner" class="pt-3 pb-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Salafi Organisations</h1>
          <p class="mb-4">Browse from different parts of the world. Listings include centres, schools, stores, charity and pilgrimage organisations.</p>
          <form action="{% url 'organisations' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Organisation Name)" value="{{ values.keywords }}">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Town/City</label>
                  <input type="text" name="city" class="form-control" placeholder="Town/City" value="{{ values.city }}">
                </div>

                
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="sr-only">Country</label>
                    <select name="country" class="form-control">
                      <option selected="true" disabled="disabled">Country (All)</option>
                      {% for country in countries %}
                        <option value="{{country.code}}"
                          {% if country.code == values.country %}
                            selected
                          {% endif %}
                        >{{country.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Type</label>
                  <select name="types" class="form-control">
                    <option selected="true" disabled="disabled">Type (All)</option>
                    <option value="Centre"
                      {% if 'Centre' == values.types %}
                        selected
                      {% endif %}
                    >Centre</option>
                    <option value="School"
                      {% if 'School' == values.types %}
                        selected
                      {% endif %}
                    >School</option>
                    <option value="Store"
                      {% if 'Store' == values.types %}
                        selected
                      {% endif %}
                    >Store</option>
                    <option value="Pilgrimage"
                      {% if 'Pilgrimage' == values.types %}
                        selected
                      {% endif %}
                    >Pilgrimage</option>
                  </select>
                </div>
              </div>
            <button class="btn btn-secondary btn-block mt-3" type="submit">Search Organisations</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Organisations</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if organisations %}
          {% for organisation in organisations%}
            <!-- Listing -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img style="height: 200px" class="card-img-top px-4 py-4" src="{{organisation.logo.url }}" alt="">
                <div class="card-body mt-0 pt-0">
                  <div class="listing-heading text-center">
                    <h5 class="text-primary">{{ organisation.name }}</h5>
                    <p class="text-secondary">
                      <i class="fas fa-map-marker fa-lg"></i> <a href="https://maps.google.com/maps?q={{organisation.address}}, {{organisation.zipcode}}">{{organisation.address}}, {{organisation.zipcode}}</a> </p>
                  </div>
                  <hr>
                  <div class="row py-1">
                    <div class="col-6">
                      <i class="fas fa-th-large text-secondary"></i> Type: {{organisation.types}}</div>
                    <div class="col-6">
                      <i class="fas fa-flag text-secondary"></i> Country: {{organisation.country}}</div>
                  </div>
                  {% if organisation.types == 'Centre' %}
                    <div class="row py-1 ">
                      <div class="col-6">
                        <i class="fas fa-chalkboard-teacher text-secondary"></i> Classes: {{organisation.class_set.count}}</div>
                      <div class="col-6">
                        <i class="fas fa-quran text-secondary"></i> Lectures: {{organisation.lecture_set.count}}</div>
                    </div>
                  {% endif %}
                  <hr>
                  <div class="row py-1 text-secondary">
                    <div class="col-md-12">
                      <div class="social text-center">
                        {% if organisation.twitter %}
                          <a href="{{ organisation.twitter }}">
                            <i class="fab fa-twitter fa-lg"></i>
                          </a>
                        {% endif %}
                        {% if organisation.facebook %}
                          <a href="{{ organisation.facebook }}">
                            <i class="fab fa-facebook fa-lg"></i>
                          </a>
                        {% endif %}
                        {% if organisation.soundcloud %}
                          <a href="{{ organisation.soundcloud }}">
                            <i class="fab fa-soundcloud fa-lg"></i>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <hr>
                  <a href="{% url 'organisation' organisation.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="container">
            <p class="text-center">Sorry, no organisation listings available</p>
          </div>          
        {% endif %}
      </div>  
        
      <div class="row">
        <div class="col-md-12">
          {% if organisations.has_other_pages %}
            <ul class="pagination ">
              {% if organisations.has_previous %}
                <li class="page-item">
                  <a href="?page={{organisations.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in organisations.paginator.page_range %}
                {% if organisations.number == i%}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if organisations.has_next %}
                <li class="page-item">
                  <a href="?page={{organisations.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}